header, main, footer {
    /* margin: 20px; */
    margin: 0 auto;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
main {
    max-width: 800px;
    padding: 0 20px;
    flex: 1; /* This ensures the main content area takes up the remaining space */
}

header {
    background-color: #D4E9F8; /* light blue */
    padding: 10px;
}

footer {
    background-color: #D4E9F8; /* or keep consistent with the header */
    padding: 10px;
    margin-top: 2rem; /* Add space above footer */
    padding: 1rem 0;  /* Add some vertical padding inside footer */
}   

h2, h3 {
  color: #003366; /* darker shade of blue for headings */
}

img {
  float: left;
  margin: 0 20px 20px 0; /* space around the image */
  max-width: 200px;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #F5F5DC; /* beige-ish */
    color: #333; /* dark gray */
}

input, textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

form {
    /* max-width: 600px; */
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

section {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #FFF; /* white for readability */
}

blockquote {
  font-style: italic;
  border-left: 4px solid #ADD8E6; /* a slightly stronger blue border */
  padding-left: 10px;
  margin: 1rem 0;
}